@model IEnumerable<Arthesanatus.Models.TipoLinha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DadosTecnicos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DadosTecnicos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoLinhaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoLinhaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoLinhaID })
        </td>
    </tr>
}

</table>
