@model Arthesanatus.Models.TipoLinha

@{
    ViewBag.Title = "Exclusão de Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>

<h3>Confirma a Exclusão deste Registro?</h3>
<div>
    <h4>Tipos de Linha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DadosTecnicos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DadosTecnicos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> 
            @Html.ActionLink("Retornar à Listagem", "Index")
        </div>
    }
</div>
