@model Arthesanatus.Models.Linha

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Linha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoLinha.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLinha.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdFechada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdFechada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdAberta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdAberta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LinhaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
