@model IEnumerable<Arthesanatus.Models.Linha>

@{
    ViewBag.Title = "Listagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem</h2>
<h4>Linhas</h4>
<br />
<p>
    @Html.ActionLink("Cadastrar Novo Registro","Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabricante.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLinha.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdFechada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdAberta)
        </th>
        <th style="width: 21%" class="text-right">
            @Html.Label("Ações")
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLinha.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdFechada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdAberta)
            </td>
            <td class="text-right">
                @Html.ActionLink("Editar","Edit",new { id = item.LinhaID },new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes","Details",new { id = item.LinhaID },new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir","Delete",new { id = item.LinhaID },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
