@model Arthesanatus.Models.Cor

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Cor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoLinha.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoLinha.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdFechada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdFechada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdAberta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdAberta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CorID }) |
    @Html.ActionLink("Retornar à Listagem", "Index")
</p>
