@model IEnumerable<Arthesanatus.Models.Cor>

@{
    ViewBag.Title = "Listagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem</h2>
<h4>Cores das Linhas</h4>
<br />
<p>
    @Html.ActionLink("Cadastrar Novo Registro","Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CorCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="width: 21%" class="text-right">
            @Html.Label("Ações")
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-right">
                @Html.ActionLink("Editar","Edit",new { id = item.CorID },new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes","Details",new { id = item.CorID },new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir","Delete",new { id = item.CorID },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
