@model IPagedList<Arthesanatus.Models.Cor>

@{
    ViewBag.Title = "Listagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Listagem</h2>
<h4>Cores das Linhas</h4>
<br />

<div class="navbar-form">
    <div class="col-lg-6">
        @Html.ActionLink("Cadastrar Novo Registro","Create")
    </div>

    <div>
        @using(Html.BeginForm("Index","Cores",FormMethod.Get))
        {
            <form class="navbar-form" role="search">
                <div class="form-group col-lg-6" style="text-align:right; padding-bottom:18px;">
                    <input type="text" class="form-control" placeholder="Código ou Nome da Cor..." name="searching" style="width:100%">
                    <input type="submit" class="btn btn-default" value="Pesquisar">
                </div>
            </form>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CorCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Nome)
        </th>
        <th style="width: 21%">
            
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorCodigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-right">
                @Html.ActionLink("Editar","Edit",new { id = item.CorID },new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhes","Details",new { id = item.CorID },new { @class = "btn btn-warning" })
                @Html.ActionLink("Excluir","Delete",new { id = item.CorID },new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<br />
@Html.PagedListPager(Model,i => Url.Action("Index","Cores",new { i,search = Request.QueryString["search"] }))




